<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bikes for Rent in Seoul</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
<div>
    <div class="container">
        <h1>Estimating the Availability of Bikes for Rent in Seoul</h1>
        {% if result %}
        <h3>The quantity estimate of bikes to be available to rent is {{result}}</h3>
        <a href="/">To Estimate Again</a>
        {% endif %}

        {% if result == 0 %}
        <h3>The quantity estimated to be available to the inputs are zero</h3>
        <a href="/">To Estimate Again</a>
        {% endif %}

        {% if result == None %}
        <form action="/estimate" method="POST">

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Month</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x0_1">January</option>
                            <option value="onehot__x0_2">February</option>
                            <option value="onehot__x0_3">March</option>
                            <option value="onehot__x0_4">April</option>
                            <option value="onehot__x0_5">May</option>
                            <option value="onehot__x0_6">June</option>
                            <option value="onehot__x0_7">July</option>
                            <option value="onehot__x0_8">August</option>
                            <option value="onehot__x0_9">September</option>
                            <option value="onehot__x0_10">October</option>
                            <option value="onehot__x0_11">November</option>
                            <option value="onehot__x0_12">December</option>

                        </select>
                    </div>
                    <div class="col">
                        <label>Day of week</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x1_0">Monday</option>
                            <option value="onehot__x1_1">Tuesday</option>
                            <option value="onehot__x1_2">Wednesday</option>
                            <option value="onehot__x1_3">Thursday</option>
                            <option value="onehot__x1_4">Friday</option>
                            <option value="onehot__x1_5">Saturday</option>>
                            <option value="onehot__x1_6">Monday</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Functioning Day</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            
                            <option value="onehot__x2_0">No</option>
                            <option value="onehot__x2_1">Yes</option>

                        </select>
                    </div>
                    <div class="col">
                        <label>Holiday</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            
                            <option value="onehot__x3_0">No</option>
                            <option value="onehot__x3_1">Yes</option>

                        </select>
                    </div>

                    <div class="col">
                        <label>Hour of the Day</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x4_0">0:00</option>
                            <option value="onehot__x4_1">1:00</option>
                            <option value="onehot__x4_2">2:00</option>
                            <option value="onehot__x4_3">3:00</option>
                            <option value="onehot__x4_4">4:00</option>
                            <option value="onehot__x4_5">5:00</option>
                            <option value="onehot__x4_6">6:00</option>
                            <option value="onehot__x4_7">7:00</option>
                            <option value="onehot__x4_8">8:00</option>
                            <option value="onehot__x4_9">9:00</option>
                            <option value="onehot__x4_10">10:00</option>
                            <option value="onehot__x4_11">11:00</option>
                            <option value="onehot__x4_12">12:00</option>
                            <option value="onehot__x4_13">13:00</option>
                            <option value="onehot__x4_14">14:00</option>
                            <option value="onehot__x4_15">15:00</option>
                            <option value="onehot__x4_16">16:00</option>
                            <option value="onehot__x4_17">17:00</option>
                            <option value="onehot__x4_18">18:00</option>
                            <option value="onehot__x4_19">19:00</option>
                            <option value="onehot__x4_20">20:00</option>
                            <option value="onehot__x4_21">21:00</option>
                            <option value="onehot__x4_22">22:00</option>
                            <option value="onehot__x4_23">23:00</option>
                        </select>
                    </div>



                </div>
            </div>




            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Season</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x5_Autumn">Autumn</option>
                            <option value="onehot__x5_Spring">Spring</option>
                            <option value="onehot__x5_Summer">Summer</option>
                            <option value="onehot__x5_Winter">Winter</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
        
        
                            <div class="col">
                                <label>Temperature °C</label>
                                <input type="text" class="form-control form-control-sm" name="new_bikes_estimative" placeholder="Temperature °C" required>
                            </div>
                            <div class="col">
                                <label>Dew Point Temp °C</label>
                                <input type="text" class="form-control form-control-sm" name="new_bikes_estimative" placeholder="Dew Point °C" required>
                            </div>
        
        
                            <div class="col">
                                <label>Humitidy (%)</label>
                                <input type="text" class="form-control form-control-sm" name="new_bikes_estimative" placeholder="Humidity (%)" required>
                            </div>
        
                        </div>
                    </div>

                    <div class="col">
                        <label>Rainfall</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x6_1_no rain">No Rain</option>
                            <option value="onehot__x6_2_drizzle">Drizzle</option>
                            <option value="onehot__x6_3_light rain">Light Rain</option>
                            <option value="onehot__x6_4_moderate rain">Moderate Rain</option>
                            <option value="onehot__x6_5_heavy rain">Heavy Rain</option>

                        </select>
                    </div>

                    <div class="col">
                        <label>Snowfall</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x7_1_no snow">No Snow</option>
                            <option value="onehot__x7_2_light snow">Light Snow</option>
                            <option value="onehot__x7_3_moderate snow">Moderate Snow</option>
                            <!--<option value="heavy snow">Heavy Snow</option>/-->

                        </select>
                    </div>



                    <div class="col">
                        <label>Wind Speed</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x8_1_calm">Calm</option>
                            <option value="onehot__x8_2_plowing">Plowing</option>
                            <option value="onehot__x8_3_light breeze">Light Breeze</option>
                            <option value="onehot__x8_4_weak breeze">Weak Breeze</option>
                            <!--<option value="moderate breeze">Moderate Breeze</option>
                    <option value="strong breeze">Strong Breeze</option>
                    <option value="wind">Wind</option>/-->
                        </select>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Solar Radiation</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x9_1_weak">Weak</option>
                            <option value="onehot__x9_2_moderate">Moderate</option>
                            <option value="onehot__x9_3_strong">Strong</option>

                        </select>
                    </div>

                    <div class="col">
                        <label>Visibility</label>
                        <select class="form-control form-control-sm" name="new_bikes_estimative" required>
                            <option value="onehot__x10_1_very bad">Very Bad</option>
                            <option value="onehot__x10_2_bad">Bad</option>
                            <option value="onehot__x10_3_moderate">Moderate</option>
                            <!--<option value="good">Good</option>-->
                            <!--<option value="excelent">Excelent</option>-->

                        </select>
                    </div>


                </div>
            </div>

            
            <button type="submit" class="btn btn-primary">Estimate</button>
        </form>
            {% endif %}
    </div>
    </body>
    </html>
